  <app-navbar></app-navbar>

  <div class="home">

    <!-- Main display and pictures -->
    <div class="home__main-display">
      <app-home-main-display></app-home-main-display>
    </div>

    <!-- Job card text -->
    <div class="home__header">
      Top Jobs for Top Tech Talent
    </div>
    <div class="home__subheader">
      Be part of the top 10% and connect with Europe’s top tech companies.
    </div>


    <!-- Job cards -->
    <div class="home__job-cards">

      <app-home-job-card
        [name]="cards[0]['name']"
        [title]="cards[0]['title']"
        [description] = "cards[0]['description']"
      ></app-home-job-card>

      <app-home-job-card
        [name]="cards[0]['name']"
        [title]="cards[0]['title']"
        [description] = "cards[0]['description']"
      ></app-home-job-card>

      <app-home-job-card
        [name]="cards[0]['name']"
        [title]="cards[0]['title']"
        [description] = "cards[0]['description']"
      ></app-home-job-card>

    </div>


    <div class="home__header">
      +100 companies have already hired using DevStack
    </div>

    <div class="home__company-icons">
      <app-home-company-icons></app-home-company-icons>
    </div>

    <div class="home__header">Sounds interesting?</div>

    <div class="home__job-button">
      <app-home-button
        buttonName="Find Me a Job"
      ></app-home-button>
    </div>
    <a class="home__employer-link">I'm an employer</a>

  </div>
