@use "../../../themes/colors" as color;

.home {
  flex-direction: column;
  align-items: center;
  padding-bottom: 5rem;
}

.home__main-display {
  margin: 0rem 3rem 3rem 3rem;
}

.home__header {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 3rem;
}

.home__subheader {
  text-align: center;
  color: #c4c4c4;
}

.home__job-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 3rem;
  margin: 3rem 6rem;
}

.home-company__text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 38px;
  margin-top: 200px;
}

.home-company__icons {
  margin-top: 40px;
  margin-left: 200px;
  margin-right: 200px;
}

.home__job-button {
  display: flex;
  justify-content: center;
}

.home__employer-link {
  display: flex;
  justify-content: center;
  padding: 30px;
}
