@use "../../../themes/colors" as color;
@use "../../../themes/components" as components;
@use "../../../themes/buttons";

img {
  -webkit-user-drag: none;
  user-select: none;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
}

.cards-container {
  @include components.container_style;
  text-align: center;
  padding: 2rem;
}

.header {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.dim-subheader {
  font-size: 1.1rem;
  color: #606060;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2rem;
}
.cards__middle {
  margin: 0 3rem;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

.row img {
  @include components.container_style;
  height: 20rem;
}

.get-started-container {
  @include components.container_style;
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
  max-width: 40rem;
  padding: 2rem;
  height: 20rem;
  justify-content: space-between;
}

.large-text {
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

.button-row {
  display: flex;
  justify-content: center;
}
