@use '../../../themes/components' as components;

.card-container {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  width: 63vw;
  height: 71vh;
  max-width: 700px;
  margin-bottom: 2vh;
  
  @include components.container_style;
}

.card-container::-webkit-scrollbar {
  display: none;
}

.photo-name {
  display: flex;
  flex-direction: row;
  height: 26vh;
  margin-top: 3vh;
}

.user-photo {
  height: 120px;
  width: 120px;
  padding: .5rem;
  border-radius: 5rem;
  margin-top: 3vh;
  margin-left: 6vh;

}

.carreer-details {
  display: inline-flex;
  margin-top: 2vh;
  font-size: 20px;
  
}

.name-location {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 34vw;
  height: 25vh;
  margin-top: 1vh;
  
}


.names {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 3.5vh;
  margin-top: 22px;
}

.name-text {
  font-size: 32;
  padding: .5rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.exp-position {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: .5rem;
  margin: .5rem;
  height: .5vh;

}

.exp-item {
  margin-left: 1vw;
}

.techs-container {
  display: flex;
  flex-direction: row;
  padding: .5rem;
  justify-content: center;
  align-items: center;
}

.tech {
  margin-left: 5px;
  margin-right: 5px;
}

.tech-image {
  height: 50px;
  width: 50px;
}

.bio {
  margin: .5rem;
  text-align: center;
  padding: .5rem;
  height: 1vh;  
}

.tech {
  padding:0 1vw;
}
