
<div class="card-container" *ngIf="user">

  <div class="photo-name">
    <div class="photo-container">
      <img [src]="photo.url" alt="" class="user-photo">
    </div>

    <div class="name-location">
      <div>
        <div class="name-text">{{user.first_name}}</div>
        <div class="name-text">{{user.last_name}}</div>
      </div>
      

      <div class="name-text">{{user.country.name}}</div>
    </div>
      <!-- end of first container with photo name and location -->
  </div>

  <div class="exp-position">
    <div class="exp-item">{{user.experience_level.name}}</div>
    <div class="exp-item">{{user.developer_type.name}} Developer</div>
  </div>

  <div class="techs-container">
    <div *ngFor="let tech of user.technologies">
      <div class="tech"></div>
      <app-svg-item 
        [svgPath]="tech.path"
        [label]="tech.name"
        [height]="50"
        [width]="50"
      ></app-svg-item>
    </div>

  </div>


  <div class="bio">
    <div>{{user.bio}}</div>
  </div>

</div>