
<div class="card-container" *ngIf="user">

  <div class="photo-name">
    <div class="photo-container">
      <img [src]="photo.url" alt="" class="user-photo">
    </div>

    <div class="name-location">

      <div class="names">
        <div class="name-text">{{user.first_name}}</div>
        <div class="name-text">{{user.last_name}}</div>
      </div>

      <div class="carreer-details">
        <div class="exp-item">{{user.experience_level.name}}</div>
        <div class="exp-item">{{user.developer_type.name}} Developer</div>
      </div>
      <div class="name-text">📍{{user.country.name}}</div>
      
    </div>
      <!-- end of first container with photo name and location -->
  </div>

  <div class="exp-position">
    
  </div>

  <div class="techs-container">
    <div *ngFor="let tech of user.technologies">
      <div class="tech">
        <app-svg-item 
        [svgPath]="tech.path"
        [label]="tech.name"
        [height]="50"
        [width]="50"
      ></app-svg-item>
      </div>
    </div>

  </div>

  <div class="bio">
    Veniam id do aliqua duis id nulla nisi occaecat incididunt occaecat id amet dolor laboris. In ipsum fugiat cillum dolore ex occaecat amet cupidatat. Ut minim non enim sint velit fugiat et ex velit deserunt occaecat tempor. Enim ipsum commodo ullamco enim. Labore est nostrud exercitation cupidatat ea qui consectetur voluptate nisi deserunt exercitation.
  </div>


</div>