@use "../../../themes/colors" as color;

.selector {
  text-align: center;
  width: 20vw;
}

.search-input {
  text-align: center;
  border: .1rem solid rgb(44, 41, 41);
  height: 4vh;
  width: 20vw;
  border-radius: .25rem;
  background-color: rgba(197, 194, 194, 0.082);
}

.option {
  text-align: center;
}

.option:active {
  background-color: color.$dropdown_selected;
}

.selected-option {
  background-color: color.$dropdown_selected;
}
