@use '../../../themes/components' as components;

.user-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100vh;
}

.user-main-container {
  display: flex;
  flex-direction: column;
  margin-left: 10vw;
}

.user-chat-container {
  width: 20%;
  height: 600px;
  margin-top: 10vh;
  @include components.container_style;
}
