@font-face {
  font-family: "Saira";
  src: local("Saira"),
    url(../../../assets/fonts/Saira/Saira-Regular.ttf) format("truetype");
}

.card-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 550px;
  background-color: #e5e5e5;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 5px 0px #000000;
}

.card__img {
  margin-top: 20px;
  background-color: #e5e5e5;
}

.card__name {
  margin-top: 40px;
  font-size: 1.5rem;
  background-color: #e5e5e5;
  font-family: "Saira";
}

.card__title {
  margin-top: 25px;
  background-color: #e5e5e5;
  font-size: 1rem;
  font-family: "Saira";
}

.card__description {
  width: 200px;
  font-size: 1rem;
  margin-top: 70px;
  background-color: #e5e5e5;
  text-align: center;
  font-family: "Saira";
}
