.card-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 550px;
  background-color: #e5e5e5;
  border-radius: 5px;
}

.card__img {
  margin-top: 20px;
  background-color: #e5e5e5;
}

.card__name {
  margin-top: 40px;
  font-size: 1.5rem;
  background-color: #e5e5e5;
}

.card__title {
  margin-top: 25px;
  background-color: #e5e5e5;
  font-size: 1rem;
}

.card__description {
  width: 200px;
  font-size: 1rem;
  margin-top: 70px;
  background-color: #e5e5e5;
  text-align: center;
}
