.chat-container {
  width: 275px;
  background-color: rgb(255, 255, 255);
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  position: fixed;
  bottom: 3px;
  right: 5px;
}

.btn {
  cursor: pointer;
  transition: all .5s;
}

.btn-down {
  cursor: pointer;
  transform: scaleY(-1);
  transition: all .5s;
}

.btn:hover {
  background-color: #c7c8cf;
}

.chat-bar {
  display: flex;
  flex-direction: row;
  width: 274px;
  height: 54px;
  border-bottom: 1px solid #c7c8cf;
}

img {
  height: 40px;
  width: 40px;
  border-radius: 50px;
}

.user-photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 9px
}

.svg-icons {
  display: flex;
  flex-direction: row;
  width: 225px;
  justify-content: flex-end;
  align-items: center;
  svg {
    margin: 0 6px;
  }
}

.expanded-chat {
  border-bottom: 1px solid #c7c8cf;
  height: 500px;
  width: 100%;
}
.chat-preview {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #c7c8cf;
  cursor: pointer;
  .chat-photo {
    margin-left: 9px;
  }
  .chat-text {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
    .name-date {
      display: flex;
      flex-direction: row;
      div {
        flex: 1;
      }
    }
  }
}

.opened-chat {
  height: 334px;
}