<div class="chat-container" *ngIf="appState !== 'loggedOut'">

  <div class="chat-bar" >
    <div class="user-photo">
      <img [src]="activeUser.photo_path" alt="">
    </div>
    <div class="active-name">{{activeUser.name}}</div>
    <div class="svg-icons">
      <div class="back-button" *ngIf="chatIsOpen" (click)="closeChat()"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" data-supported-dps="16x16" fill="currentColor" class="mercado-match" width="16" height="16" focusable="false"><path d="M15 11L8 6.39 1 11V8.61L8 4l7 4.61z"></path></svg></div>
      <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" data-supported-dps="16x16" fill="currentColor" class="mercado-match" width="16" height="16" focusable="false"><path d="M15 2.53a1.51 1.51 0 01-.44 1L9.15 9 6 10l1-3.12 5.44-5.44A1.5 1.5 0 0115 2.53zM12 11a1 1 0 01-1 1H5a1 1 0 01-1-1V5a1 1 0 011-1h3V2H5a3 3 0 00-3 3v6a3 3 0 003 3h6a3 3 0 003-3V8h-2z"></path></svg> -->
      <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" data-supported-dps="16x16" fill="currentColor" class="mercado-match" width="16" height="16" focusable="false"><path d="M3 9.5A1.5 1.5 0 114.5 8 1.5 1.5 0 013 9.5zM11.5 8A1.5 1.5 0 1013 6.5 1.5 1.5 0 0011.5 8zm-5 0A1.5 1.5 0 108 6.5 1.5 1.5 0 006.5 8z"></path></svg> -->
      <div (click)="expandChat()" *ngIf="!chatIsOpen" [ngClass]="!expanded? 'btn' : 'btn-down'"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" data-supported-dps="16x16" fill="currentColor" class="mercado-match" width="16" height="16" focusable="false"><path d="M15 11L8 6.39 1 11V8.61L8 4l7 4.61z"></path></svg></div>
    </div>
  </div>

  <div class="expanded-chat" *ngIf="expanded">

    <div class="chat-preview" *ngFor="let chat of chats; let i = index">
      <div class="chat-photo"><img [src]="chat.developer.photo_path" alt="user photo"></div>
      <div class="chat-text" (click)="selectChat(i)">
        <div class="name-date">
          <div>{{chat.developer.first_name}}</div>
          <div *ngIf="appState == 'developer'">
            <div *ngIf="chat.company_unreads">{{chat.company_unreads}}</div>
          </div>
          <div *ngIf="appState == 'company'">  
            <div *ngIf="chat.developer_unreads">{{chat.developer_unreads}}</div>
          </div>
          <div class="time">{{chat.last_timestamp | date :'shortTime'}}</div>
        </div>
        <div class="last-messge" *ngIf="chat.messages[0]">
          {{chat.messages[0].text_content}}
        </div>
      </div>
    </div>
  </div>

  <div class="opened-chat" *ngIf="chatIsOpen && chats[openIndex]" id="msgContainer">
    
    <div class="msg-container">
      <div *ngFor="let message of chats[openIndex].messages" id="msgContainer">
        <app-message 
          [message]="message" 
          [company]="chats[openIndex].company" 
          [developer]="chats[openIndex].developer"
        ></app-message>
      </div> 
    </div>
    
    
    <input [(ngModel)]="userInput" (keyup.enter)="sendMessage(userInput)" class="user-input">
    
   
  
  </div>


  

</div>