.dashboard-container {
  display: flex;
  flex-direction: column;
}

.content-container {
  display: flex;
  flex-direction: row;
}

.selector-container {
  width: 22vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 8px;
  margin-left: 1vw;
}

.dropdown {
  margin-top: 5vh;
  margin-bottom: 1vh;
  
}
 .techs {
  margin-top: 5vh;
  margin-bottom: 5vh;
 }

.dev-types {
  margin-top: 20vh;
}

.search-button {


}

.user-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;

}

.user-card {
  
}
