<div class="dashboard-container">

  <div class="navbar"> navbar</div>

  <div class="content-container">

    <div class="selector-container">
      <!-- container on the left for the selectors -->
      <div class="dev-type">
            <app-dropdown [selectorName]="'Developer Type'" [dropOptions]="devTypes"></app-dropdown>
      </div>
      <div class="techs">

        <app-search [placeString]="'Technologies'" [allOptions]="techs" ></app-search>
      </div>
      <div class="experience">
        <app-dropdown [selectorName]="'Experience'" [dropOptions]="experienceLevels"></app-dropdown>
      </div>
      <div class="search-button">
        
      </div>

    </div>

    <div class="user-container">
      <!-- container to render the users -->
      <div *ngFor="let user of filteredUsers">
        <app-dev-card></app-dev-card>
      </div>

    </div>


  </div>
</div>