
<div class="dashboard-container">

  <div class="navbar"></div>

  <div class="content-container">

    <div class="selector-container">
      <!-- container on the left for the selectors -->
      <div class="dev-type">
          <!-- TODO Dropdown component -->
      </div>
      <div class="techs">

      </div>
      <div class="experience">
        <!-- TODO Dropdown component -->
      </div>
      <div class="search-button">
        
      </div>

    </div>

    <div class="user-container">
      <!-- container to render the users -->

    </div>


  </div>
</div>