.dashboard-container {
  display: flex;
  flex-direction: column;
}

.content-container {
  border: solid black 1px;
  display: flex;
  flex-direction: row;

}

.selector-container {
  border: solid 1px black;
  width: 22vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.dropdown {
  margin-top: 5vh;
  margin-bottom: 1vh;
  
}
 .techs {
  margin-top: 5vh;
  margin-bottom: 5vh;
 }

.dev-types {
  margin-top: 20vh;
}

.search-button {


}

.user-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;

}

.user-card {
  
}
