
<div class="dashboard-container">

  <div class="navbar"> navbar</div>

  <div class="content-container">

    <div class="selector-container">
      <!-- container on the left for the selectors -->
      <div class="dev-type">
          <!-- TODO Dropdown component -->
            <app-dropdown [selectorName]="'Developer Type'" [dropOptions]="devTypes"></app-dropdown>
      </div>
      <div class="techs">

      </div>
      <div class="experience">
        <!-- TODO Dropdown component -->
        <app-dropdown [selectorName]="'Experience'" [dropOptions]="experienceLevel"></app-dropdown>
      </div>
      <div class="search-button">
        Find me devs!
      </div>

    </div>

    <div class="user-container">
      <!-- container to render the users -->

    </div>


  </div>
</div>