<div class="main-container">
  <div class="top__image">
    <img class="image__top" src="../../../assets/img/home-page-display.jpg">
  </div>
  <div class="bottom-container">
    <div class="bottom-left__text">
      <h1>Choose a<br>Job You Love</h1>
      <p>DevStack is Europe's developer-<br>focused job platform. Create a profile<br>and let companies apply to you.</p>
      <div class="bottom-left__buttons">
        <app-home-button
          buttonName="Find Me a Job!"
        ></app-home-button>
        <app-home-button 
          buttonName="I'm hiring"
        ></app-home-button>
      </div>
    </div>
    <div class="bottom-right__image">
      <img class="image__bottom" src="../../../assets/img/home-page-display-bottom.jpg">
    </div>
  </div>
</div>



