
   

    <div class="login-container">
        <!-- login text -->
      <div class="login-text">Login</div>
      <!-- auth buttons to log in with google or Github -->
      <div class="auth0-container">
        <div class="google-auth"><a href="">Google</a></div>
        <div class="github-auth"><a href="">GitHub</a></div>
      </div>
        <!-- seperator -->
      <div class='line-or'>
        <div class="line-or__line"></div>
        <div>or</div>
        <div class="line-or__line"></div>
      </div>
    
      <!-- form  -->
      <div class="form-container">
        <form action="">
          
          <div class="text-input">
            <input type="text" placeholder="Email" ><br>
          </div>
          <div class="text-input">
            <input type="text" placeholder="Password"><br>
          </div>
          <div class="text-input remember-me">
            <input type="checkbox" class="checkbox"> <div>Remember me</div>
          </div>
          <div class="text-input">
            <button type="button" class="login-button">Login</button>
          </div>

          
          
          
          


        </form> 
      </div>
      




    </div>