
<div class="login">

    <!-- login text -->
  <div class="login__title">Login</div>

  <!-- form  -->
  <form class="login__form">

    <input class="login__form__input" placeholder="Username" ><br>
    <input class="login__form__input" placeholder="Password"><br>

    <div class="login__form__remember-me">
      <input class="login__form__remember-me__checkbox" type="checkbox">
      <div class="login__form__remember-me__text">Remember me</div>
    </div>

    <a class="login__form__submit">Login</a>

  </form>
</div>
