@use "../../../themes/components" as components;
@use "../../../themes/buttons";

.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 3rem;
}

.signup__form {
  @include components.container_style;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 3rem;
}

.signup__title {
  font-size: 36px;
  margin-bottom: 2rem;
  user-select: none;
}

.signup__form__line {
  width: 400px;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  box-sizing: border-box;
  border: none;
  padding: 1rem 1rem;
  outline-width: 0;
  user-select: none;
}

.signup__form__textbox {
  padding: 1rem;
  min-width: 400px;
  min-height: 100px;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  box-sizing: border-box;
  border: none;
  outline-width: 0;
  user-select: none;
  resize: none;
}

button {
  width: 100%;
}
