<div class="image-container">
  <img src="../../../assets/img/img-company-icons/google-adsense.svg" alt="">
  <img src="../../../assets/img/img-company-icons/amex.svg" alt="">
  <img src="../../../assets/img/img-company-icons/amp-icon.svg" alt="">
  <!-- <img src="../../../assets/img/img-company-icons/ibm.svg" alt=""> -->
  <!-- <img src="../../../assets/img/img-company-icons/maestro.svg" alt=""> -->
  <!-- <img src="../../../assets/img/img-company-icons/moltin-icon.svg" alt=""> -->
  <!-- <img src="../../../assets/img/img-company-icons/prismic-icon.svg" alt=""> -->
  <!-- <img src="../../../assets/img/img-company-icons/udemy-icon.svg" alt=""> -->
  <!-- <img src="../../../assets/img/img-company-icons/uservoice-icon.svg" alt=""> -->
  <img src="../../../assets/img/img-company-icons/astronomer.svg" alt="">
  <img src="../../../assets/img/img-company-icons/xero.svg" alt="">
  <img src="../../../assets/img/img-company-icons/paypal.svg" alt="">
  <img src="../../../assets/img/img-company-icons/homebrew.svg" alt="">
  <img src="../../../assets/img/img-company-icons/django.svg" alt="">
  <img src="../../../assets/img/img-company-icons/atom-icon.svg" alt="">
  <img src="../../../assets/img/img-company-icons/appbaseio-icon.svg" alt="">
  <img src="../../../assets/img/img-company-icons/postgraphile.svg" alt="">
  <img src="../../../assets/img/img-company-icons/salesforce.svg" alt="">
  <img src="../../../assets/img/img-company-icons/close.svg"  alt="">
  <img src="../../../assets/img/img-company-icons/gohorse.svg" alt="">
</div>