@use '../../../themes/components' as components;

.info-container {
  display: flex;
  flex-direction: column;
  width: 63vw;
  max-width: 700px;
  margin-bottom: 3vh;
  @include components.container_style;
}

.dev-experience-container {
  padding: 2vh;
}

.dev__exp__title {
  font-weight: bold;
  font-size: 1.5rem;
  padding-bottom: 1vh;
}

.dev-experience-container,
.dev__exp {
  padding: 1vh 1vh 1vh 2vh;
}

.dev-education-container {
  padding: 2vh;
}

.dev-education-container,
.dev__edu {
  padding: 1vh 1vh 1vh 2vh;
}

.dev__edu__title {
  font-size: 1.5rem;
  padding-bottom: 1vh;
}