
<div class="info-container">

  <div class="dev-experience-container">
    <div class="dev__exp__title">Experience</div>
    <div class="dev__exp">{{exp.possition}}</div>
    <div class="dev__exp">{{exp.company}}</div>
    <div class="dev__exp">{{exp.date}}</div>
    <div class="dev__exp">{{exp.location}}</div>
    <div class="dev__exp">{{exp.description}}</div>
  </div>

  <div class="dev-education-container">
    <div class="dev__edu__title">Education</div>
    <div class="dev__edu">{{edu.school}}</div>
    <div class="dev__edu">{{edu.degree}}</div>
    <div class="dev__edu">{{edu.year}}</div>
  </div>

</div>